{% if categories %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="box-karley">
                    <ul>
                        {% for category in categories %}
                            {% if category.children %}
                                <li class="catfirst">
                                {% else %} 
                                <li class="catfirst kids">
                                {% endif %}
                                <a href="{{ category.href }}" class="lfirst">{{ category.name }}</a>

                                {% if category.children %}
                                    <div class="catright">
                                        <div class="inner-catright">
                                            {#<h2>{{ category.name }}</h2>#}
                                            {% if (category.image or category.description) %}						
                                                <div class="category-info">
                                                    {% if category.image %}							
                                                        <div class="image"><img src="{{ category.image }}" alt="{{ category.name }}" /></div>
                                                        {% endif %}
                                                        {% if category.description %}
                                                            {{ category.description }}
                                                        {% endif %}
                                                </div>
                                            {% endif %}
                                            <ul>
                                                {% for child in category.children %}
                                                    {% if child.gchildren is defined %}
                                                        <li class="ndlevel">
                                                            <a href="{{ child.href }}" class="ndfirst">{{ child.name }}</a>
                                                            <ul class="rdlevel">
                                                                {% for gchild in child.gchildren %}
                                                                    <li>
                                                                        <a href="{{ gchild.href }}">{{ gchild.name }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li class="ndlevel">
                                                            <a href="{{ child.href }}" class="ndfirst">{{ child.name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

{% endif %} 